html
{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body, #root, .App
{
    height: 100%;
    width: 100%;
}

/* Navigation */
.nav-link
{
    color: white;
}

.nav-link:hover
{
    color: orange;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

/* Home */
#home
{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    background-image: url('./components/media/background.JPG');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


#home i { color: #fff; }

#home i:hover
{
    color: #11ABB0;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.home-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.down-button
{
    position: absolute;
    bottom: 30px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* About */
#about
{
    background-color: black;
    margin-bottom: 0;
}

#about .accordion .collapsible:hover
{
    cursor: pointer;
}

/* Projects */
#projects
{
    background-color: white;
    margin-bottom: 0;
}

#projects .project:hover
{
    opacity: 0.5;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

#projects .card-img-overlay
{
    opacity: 0;
}

#projects .project:hover .card-img-overlay
{
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

#projects i
{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


/* Contact */
#contact
{
    background-image: url('./components/media/dark_theme.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#contact .card-header {
    border-radius: 0;
    border-bottom: 0;
}

#contact .col { color: white; }

#contact a, #contact a:visited { color: #11ABB0; }

#contact a:hover
{
    text-decoration: none;
    color: white;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}
